function Keyboard.init 0
    push constant 0
    pop static 0
    push constant 0
    return
function Keyboard.keyPressed 0
    push constant 24576
    call Memory.peek 1
    pop static 0
    push static 0
    push constant 0
    gt
    not
    if-goto Keyboard_1
    push static 0
    return
    goto Keyboard_0
label Keyboard_1
    push constant 0
    return
label Keyboard_0
function Keyboard.readChar 3
    push constant 0
    pop local 1
label Keyboard_2
    push local 1
    not
    not
    if-goto Keyboard_3
    call Keyboard.keyPressed 0
    pop local 1
    push local 1
    push constant 0
    gt
    not
    if-goto Keyboard_5
    push local 1
    pop local 0
    push constant 0
    pop local 2
    goto Keyboard_4
label Keyboard_5
label Keyboard_4
    goto Keyboard_2
label Keyboard_3
label Keyboard_6
    push local 2
    not
    not
    if-goto Keyboard_7
    call Keyboard.keyPressed 0
    pop local 1
    push local 1
    push constant 0
    eq
    not
    if-goto Keyboard_9
    push constant 1
    neg
    pop local 2
    goto Keyboard_8
label Keyboard_9
label Keyboard_8
    goto Keyboard_6
label Keyboard_7
    push local 0
    call Output.printChar 1
    pop temp 0
    push local 0
    return
function Keyboard.readLine 5
    push constant 100
    call String.new 1
    pop local 3
    push constant 0
    pop local 4
    push constant 0
    pop local 1
    push argument 0
    call Output.printString 1
    pop temp 0
label Keyboard_10
    push local 4
    not
    not
    if-goto Keyboard_11
    push constant 0
    pop local 1
label Keyboard_12
    push local 1
    not
    not
    if-goto Keyboard_13
    call Keyboard.keyPressed 0
    pop local 1
    goto Keyboard_12
label Keyboard_13
    push local 1
    pop local 0
    push constant 0
    pop local 2
label Keyboard_14
    push local 2
    not
    not
    if-goto Keyboard_15
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    if-goto Keyboard_17
    push constant 1
    neg
    pop local 2
    goto Keyboard_16
label Keyboard_17
label Keyboard_16
    goto Keyboard_14
label Keyboard_15
    push local 0
    push constant 128
    eq
    not
    if-goto Keyboard_19
    push constant 1
    neg
    pop local 4
    goto Keyboard_18
label Keyboard_19
    push local 0
    push constant 129
    eq
    not
    if-goto Keyboard_21
    push local 3
    call String.length 1
    push constant 0
    gt
    not
    if-goto Keyboard_23
    push local 3
    call String.eraseLastChar 1
    pop temp 0
    call Output.backSpace 0
    pop temp 0
    goto Keyboard_22
label Keyboard_23
label Keyboard_22
    goto Keyboard_20
label Keyboard_21
    push local 3
    push local 0
    call String.appendChar 2
    pop temp 0
    push local 0
    call Output.printChar 1
    pop temp 0
label Keyboard_20
label Keyboard_18
    goto Keyboard_10
label Keyboard_11
    call Output.println 0
    pop temp 0
    push local 3
    return
function Keyboard.readInt 6
    push constant 0
    pop local 0
    push constant 50
    call String.new 1
    pop local 5
    push argument 0
    call String.length 1
    pop local 1
    push argument 0
    call Output.printString 1
    pop temp 0
    push constant 0
    pop local 3
label Keyboard_24
    push local 0
    not
    not
    if-goto Keyboard_25
label Keyboard_26
    push local 3
    not
    not
    if-goto Keyboard_27
    call Keyboard.keyPressed 0
    pop local 3
    goto Keyboard_26
label Keyboard_27
    push local 3
    pop local 2
    push constant 0
    pop local 4
label Keyboard_28
    push local 4
    not
    not
    if-goto Keyboard_29
    call Keyboard.keyPressed 0
    push constant 0
    eq
    not
    if-goto Keyboard_31
    push constant 1
    neg
    pop local 4
    goto Keyboard_30
label Keyboard_31
label Keyboard_30
    goto Keyboard_28
label Keyboard_29
    push local 2
    push constant 128
    eq
    not
    if-goto Keyboard_33
    push constant 1
    neg
    pop local 0
    call Output.println 0
    pop temp 0
    goto Keyboard_32
label Keyboard_33
    push local 2
    push constant 129
    eq
    not
    if-goto Keyboard_35
    push local 5
    call String.length 1
    push constant 0
    gt
    not
    if-goto Keyboard_37
    push local 5
    call String.eraseLastChar 1
    pop temp 0
    call Output.backSpace 0
    pop temp 0
    goto Keyboard_36
label Keyboard_37
label Keyboard_36
    goto Keyboard_34
label Keyboard_35
    push local 2
    push constant 47
    gt
    push local 2
    push constant 58
    lt
    and
    push local 2
    push constant 45
    eq
    or
    not
    if-goto Keyboard_39
    push local 5
    push local 2
    call String.appendChar 2
    pop temp 0
    push local 2
    call Output.printChar 1
    pop temp 0
    goto Keyboard_38
label Keyboard_39
label Keyboard_38
label Keyboard_34
label Keyboard_32
    push constant 0
    pop local 3
    goto Keyboard_24
label Keyboard_25
    push local 5
    call String.intValue 1
    return